<!DOCTYPE html>
<html lang="en">
<head>
    {% block head%}
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bulma.min.css') }}">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    {% endblock %}
</head>
<body>
    <header class="">
        <nav class="navbar">
            <div class="navbar-brand">
                <a class="navbar-item">
                    <h1 class="title">Media Library</h1>
                </a>

                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                  </a>
            </div>
            <div class="navbar-menu">
                <div class="navbar-start">
                    <a href="/" class="navbar-item">
                        Home
                    </a>
                    <a href="/games" class="navbar-item">
                        Games
                    </a>
                    <a href="/movies" class="navbar-item">
                        Movies
                    </a>
                </div>
            </div>
        </nav>

    </header>
    
    <div class="section" id="content">
        {% block content %}{% endblock %}
    </div>

    <footer class="footer">
        <div class="level">
            <div class="level-item">
                <span class="icon is-large is-link">
                    <a href=""><i class="fab fa-facebook-square"></i></a>
                </span>
                <span class="icon is-large is-link">
                    <a href=""><i class="fab fa-twitter-square"></i></a>
                </span>
                <span class="icon is-large is-link">
                    <a href=""><i class="fas fa-envelope-square"></i></a>
                </span>
                <span class="icon is-large is-link">
                    <a href=""><i class="fas fa-phone-square"></i></i></a>
                </span>
                
                
                
                
            </div>
            <div class="level-item">
                &copy; 2020 Media Library
            </div>
        </div>
    </footer>
</body>
</html>